@import 'primeflex/primeflex.scss';

body {
  font-family: 'Mochiy Pop P One';

  $background-color: rgb(33, 47, 86);

  background: $background-color;
  background: -moz-radial-gradient(center, circle cover, $background-color 0%, #000000 100%);
  background: -webkit-radial-gradient(center, circle cover, $background-color 0%, #000000 100%);
  background: radial-gradient(circle at center, $background-color 0%, #000000 100%);
  background-attachment: fixed;

  margin: 0;
}

.p-tooltip {
  font-family: 'Rock Salt';
  font-size: 0.75rem;
  text-align: center;
  font-weight: 700;
}
