name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: npm build
        run: npm ci && npm run build
        env:
          VITE_GIT_HASH: ${{ github.sha }}

      - name: copy index.html to 404.html
        run: cp dist/index.html dist/404.html

      - name: Add .nojekyll file
        run: touch dist/.nojekyll

      - name: Add CNAME file
        run: echo 'unfair.spin-wheel.click' > dist/CNAME

      - name: Commit dist to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.CR_PAT }}
          branch: gh-pages
          folder: dist
          single-commit: true
          clean: true
